{% extends 'base.html' %} {% block title %} {% endblock title %} {% block body
%} {% for restaurant in restaurants %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-title">
        <h4>{{ restaurant['name']}}</h4>
      </div>
      <p class="text-muted">{{ restaurant['description']}}</p>
      <div class="button-list">
        <div class="btn-group">
          <a
            href="{{ restaurant['site_url']}} "
            class="btn btn-visit"
            target="_blank"
            >Visit Site</a
          >
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" onclick="return confirm('delete?')" class="btn btn-danger"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<div class="row justify-content-center">
  <div class="col-lg-6" style="margin-bottom: 50px">
    <a href="/create_restaurant" class="btn btn-primary btn-block"
      >New Restaurant</a
    >
  </div>
</div>

{% endblock body %}
